<div class="container-fluid mb-5" id="register-main">
  <div class="container login-position-div">

    <div class="row justify-content-center">
      <div class="col-md-4" *ngIf="showRegister; else registerInfo">
        <div class="card login-div">
          <div class="card-header justify-content-center text-center">
            <h3>
              Register
            </h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="register()">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
              </div>
              <div class="mb-3">
                <label for="account-type" class="form-label">Account type</label>
                <select class="form-select" id="account-type" name="account-type" [(ngModel)]="role" required>
                  <option *ngFor="let role of userRoles" [value]="role">{{role}}</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                  <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="{'bi-eye': showPassword, 'bi-eye-slash': !showPassword}"></i>
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="repeat-password" class="form-label">Repeat password</label>
                <div class="input-group">
                  <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="repeat-password" name="repeat-password" [(ngModel)]="passwordRepeat" required>
                  <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                    <i class="bi" [ngClass]="{'bi-eye': showPassword, 'bi-eye-slash': !showPassword}"></i>
                  </button>
                </div>
              </div>
              <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required>
              </div>
              <div class="mb-3 text-center">
                <p class="error-text"> {{ errorText }} </p>
              </div>
              <button type="submit" class="btn btn-primary register-button">Register</button>
            </form>
          </div>
        </div>
      </div>

      <ng-template #registerInfo>
        <div class="col-md-6 text-center">
          <h6>
            Registration successful. <a href="/login">You may login.</a>
          </h6>
        </div>
      </ng-template>
    </div>

    <app-loading></app-loading>

  </div>
</div>
