<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>FTN DEVOPS</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [ngClass]="{'nav-link': true, 'active': this.profileActive}" aria-current="page" [href]="'/profile/' + username">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a [ngClass]="{'nav-link': true, 'dropdown-toggle': true, 'active': this.reservations}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservations
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [href]="'/reservationRequests'">Requests</a></li>
            <li><a class="dropdown-item" [href]="'/myReservations'">My reservations</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'nav-link': true, 'active': this.ratingActive}" [href]="'/myRatings'">Ratings</a>
        </li>
      </ul>
      <app-search></app-search>
      <button class="ms-2 btn btn-danger" type="submit" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>