<div class="container rounded bg-white mb-5">
    <div class="row" style="margin-right:auto;margin-left:auto;">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{firstName}}</span><span class="text-black-50">{{ email }}</span><span>
                </span></div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="firstName"
                            type="text" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="lastName"
                            type="text" class="form-control"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Username</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="username"
                            type="text" class="form-control"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="email"
                            type="email" class="form-control"></div>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Old password</label><input
                            [disabled]="usernameFromService() != pathUsername()"
                            [(ngModel)]="oldPassword" type="password" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">New password</label><input
                            [disabled]="usernameFromService() != pathUsername()"
                            [(ngModel)]="newPassword" type="password" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">Repeat new password</label><input
                            [disabled]="usernameFromService() != pathUsername()"
                            [(ngModel)]="repeatNewPassword" type="password" class="form-control"></div>
                </div>
                <div class="mt-5 text-center" *ngIf="usernameFromService() === pathUsername()">
                    <button class="btn btn-primary profile-button" type="button" (click)="updateProfile()">Save Profile</button>
                    <button class="ms-3 btn btn-warning profile-button" style="color:white;" type="button" (click)="changePassword()">Change password</button>
                    <button class="ms-3 btn btn-danger profile-button" type="button" (click)="deleteProfile()">Delete Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>