<div class="container rounded my-bg-white mb-5 mt-5">
    <div class="row" style="margin-right:auto;margin-left:auto;">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{firstName}}</span><span class="text-black-50">{{ email }}</span><span>
                </span>
                <div *ngIf="isHost">
                    My rating: {{ hostRating ? hostRating + '/5' : 'Not rated yet' }}
                </div>
            </div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="firstName"
                            type="text" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input
                            [disabled]="usernameFromService() != pathUsername()" [(ngModel)]="lastName"
                            type="text" class="form-control"></div>
                </div>
                <div class="row mt-3" *ngIf="usernameFromService() === pathUsername()">
                    <div class="col-md-12"><label class="labels">Username</label><input
                            [(ngModel)]="username"
                            type="text" class="form-control"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input
                            [(ngModel)]="email"
                            type="email" class="form-control"></div>
                </div>
                <hr *ngIf="usernameFromService() === pathUsername()">
                <div class="row mt-3" *ngIf="usernameFromService() === pathUsername()">
                    <div class="col-md-12"><label class="labels">Old password</label><input
                            [(ngModel)]="oldPassword" type="password" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">New password</label><input
                            [(ngModel)]="newPassword" type="password" class="form-control"></div>
                    <div class="col-md-6"><label class="labels">Repeat new password</label><input
                            [(ngModel)]="repeatNewPassword" type="password" class="form-control"></div>
                </div>
                <div class="mt-5 text-center" *ngIf="usernameFromService() === pathUsername()">
                    <button class="btn btn-outline-primary" type="button" (click)="updateProfile()">Save Profile</button>
                    <button class="ms-3 btn btn-outline-warning pass-btn" type="button" (click)="changePassword()">Change password</button>
                    <button class="ms-3 btn btn-outline-danger" type="button" (click)="deleteProfile()">Delete Profile</button>
                </div>
                <hr *ngIf="usernameFromService() === pathUsername()">
                <div class="mt-5 d-grid gap-2 text-center btn-group" *ngIf="usernameFromService() === pathUsername()">
                    <input type="checkbox" class="btn-check btn-lg btn-block" id="btncheck1" autocomplete="off" (click)="switchNotifications()" [checked]="notificationsAllowed == 'Notifications are enabled'">
                    <label class="btn btn-outline-primary" for="btncheck1"  >{{ notificationsAllowed }}</label>
                </div>
            </div>
        </div>
    </div>
</div>