<form class="d-flex">
          
    <input type="date" class="form-control" name="dateFrom" [(ngModel)]="this.dateFrom" style="border-top-right-radius:0;border-bottom-right-radius:0;">
    <span class="input-group-text" style="border-radius:0!important;" id="basic-addon1">to</span>
    <input type="date" class="form-control me-2" name="dateTo" [(ngModel)]="this.dateTo" style="border-top-left-radius:0;border-bottom-left-radius:0;">
    
    <input class="form-control me-2" type="number" name="guestNumber" [(ngModel)]="this.guestNumber" placeholder="Number of guests" aria-label="Guests">
    <input class="form-control me-2" type="text" name="location" [(ngModel)]="this.location" placeholder="Location" aria-label="Location">
    <button class="btn btn-success" type="submit" (click)="this.search()">Search</button>
  </form>